.login-container {
  background-color: #f5f5f5;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.login-card-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 8px #388e3c(0, 0, 0, 0.1);
}

.login-decoration {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 15px;
  background: linear-gradient(to right, #3f51b5, #5c6bc0, rgba(92, 107, 192, 0));
  z-index: 1;
}

.login-card {
  background: white;
  border-radius: 16px;
  padding: 2.5rem;
  position: relative;
  z-index: 2;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

mat-form-field {
  width: 100%;
}

mat-form-field.mat-form-field {
  border-radius: 8px;
}

mat-form-field .mat-form-field-wrapper {
  padding: 0;
}

mat-form-field .mat-input-element {
  font-size: 0.8rem;
  height: 30px;
  padding: 2px 6px;
  line-height: 1.2;
}

button {
  font-size: 1rem;
  font-weight: bold;
}

.remember-forgot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.forgot-password {
  color: #1e211e;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #388e3c;
}

button.mat-raised-button {
  background-color: white;
  color: #4caf50;
  font-weight: bold;
  border: 1px solid #4caf50;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

button.mat-raised-button:hover {
  background-color: #4caf50;
  color: white;
}

button.sign-in-button {
  background-color: white;
  color: #4caf50;
  font-weight: bold;
  border: 1px solid #4caf50;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

button.sign-in-button:hover {
  background-color: #4caf50;
  color: white;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}